---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
AlignTrailingComments: false
IndentPPDirectives: AfterHash
IndentWidth: 4

---
Language: Java
BasedOnStyle: Chromium
ColumnLimit: 80
IndentWidth: 4
