---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 0
AccessModifierOffset: -4
AlignTrailingComments: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
IndentPPDirectives: AfterHash
IndentWidth: 4

---
Language: Java
BasedOnStyle: Chromium
ColumnLimit: 0
IndentWidth: 4
